*{
  
  border:0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  
}
a{
  text-decoration: none;
  color: white;
}
:root{
  --color-background: rgb(17,17,17);
  --color-white:rgb(220,218,218);
}
body{
  font-family: 'Open Sans', sans-serif;
  color: aliceblue;
}